<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/coupon/index.js');
?>

<style>

i.fa-bar-chart{ 
    text-decoration: none; 
    position: relative; 
}
i.fa-bar-chart span { 
    text-decoration: none; 
    width: 100px; 
    height: auto; 
    line-height: 20px; 
    padding: 10px; 
    font-size: 14px; 
    color: #719DAB; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    border: 4px solid #fff; 
    background: rgba(255,255,255,0.9); 
    border-radius: 5px; 
    pointer-events: none; 
    position: absolute; 
    left: 0; 
    bottom: 200px; 
    opacity: 0; 
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}
i.fa-bar-chart:hover span{ 
    opacity: 0.9; 
    left: 50%; 
    bottom: 10px; 
    color: #428bca; 
}
</style>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
	<div class="row">
		<div class="col-md-12">
			<h1>Cupones del Establecimiento <?php echo $this->stablishment->getName();?></h1>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table id="couponTable" cellpadding="0" cellspacing="0" border="0"
				class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">NOMBRE</th>
						<th style="text-align:center;">FECHA DE INICIO</th>
						<th style="text-align:center;">FECHA DE FIN</th>
						<th style="text-align:center;">ADQUIRIDOS</th>
						<th style="text-align:center;">DESCARGADOS</th>
						<th style="text-align:center;">USADOS</th>
						<th style="text-align:center;">OPERACIONES</th>
					</tr>
				</thead>
				<tbody>
    <?php $dateService = new Application_Service_Date();?>
    <?php foreach ($this->coupons as $coupon): ?>
                <tr style="text-align: center;">
						<td><?php echo $coupon->getName(); ?></td>
						<td><?php echo $dateService->getDate($coupon->getStartDate()); ?></td>
						<td><?php echo $dateService->getDate($coupon->getEndDate()); ?></td>
						<td><?php echo $coupon->getAcquired();?></td>
						<td><?php echo $coupon->getDownloaded(); ?></td>
						<td><?php echo $coupon->getUsed();?></td>
						<td>
						<a href="<?php echo $this->url(array('module' => 'admin','controller' => 'coupon', 'action' => 'see-coupon', 'id' => Application_Service_Encrypter::encrypter($coupon->getId())));?>"><i class="fa fa-bar-chart"><span>Ver Estadísticas</span></i></a>
						</td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>
</div>