<?php
$this->headScript()->appendFile($this->baseUrl().'/js/coupon/new.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
</style>

<div class="row">
    <div class="col-md-12">
        <h1>Nuevo Cup&oacute;n</h1>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form id="form" action="<?php echo $this->url(array('module' => 'admin','controller' => 'coupon', 'action' => 'new'));?>" method="post" class="form-horizontal dropzone" role="form" enctype="multipart/form-data"
        style="background: transparent; text-align: center;">
            
             <div class="form-group">
                <label for="name" class="col-md-2 control-label"><span class="required">*</span> Nombre:</label>
                <div class="col-md-4">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre"/>
                </div>
             </div>
             
                         
             <div class="form-group">
                <label for="description" class="col-md-2 control-label">Descripci&oacute;n: </label>
                <div class="col-md-10">
                    <textarea rows="4" cols="100%" id="description" name="description" class="form-control" placeholder="Descripci&oacute;n del cupón"></textarea>
                </div>
             </div>
             
             <div class="row">
                <fieldset>
                <legend>Seleccione la vigencia del cup&oacute;n</legend>
                <div class="form-group">
                    <label for="acquired" class="col-md-2 control-label"><span class="required">*</span> Cupones a registrar:</label>
                    <div class="col-md-4">
                        <input type="number" min="1" id="acquired" name="acquired" class="form-control" placeholder="No. de Cupones"/>
                    </div>
                 </div>
                 
                <div class="form-group ">
                    <label for="startDate" class="col-md-2 control-label"><span class="required">*</span>Fecha de Inicio:</label>
                      <div class="col-md-3">
                      	<div id="datePickerStart" class="input-group date" data-date-format="dd/MM/yyyy" data-link-field="startDate">
                      		<input readonly="readonly" id="startDate" name="startDate" type="text" class="form-control" placeholder="Fecha de inicio"/>
                      		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      	</div>
                      </div>
                      
                      <label for="endDate" class="col-md-2 control-label"><span class="required">*</span>Fecha de Fin:</label>
                      <div class="col-md-3">
                      	<div id="datePickerEnd" class="input-group date" data-date-format="dd/MM/yyyy" data-link-field="endDate">
                      		<input readonly="readonly" id="endDate" name="endDate" type="text" class="form-control" placeholder="Fecha de fin"/>
                      		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                      	</div>
                      </div>
                      
                </div>
                
                </fieldset>
             </div>
             
             
             <div class="form-group text-center">
             <label for="img" class="col-md-2 control-label">Imagen del Cup&oacute;n:</label>
            	<div class="col-md-2">
            		<div class="fileinput fileinput-new" data-provides="fileinput">
					  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
					  <div>
					    <span class="btn btn-default btn-file">
					    <span class="fileinput-new">Seleccionar imagen</span>
					    <span class="fileinput-exists">Cambiar</span>
					    <input type="file" id="image" name="image" accept="image/*">
					    </span>
					    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
					  </div>
					</div>
            	</div>
              </div>
              
              <div class="form-group">
                <label for="stablishment" class="col-md-2 control-label"><span class="required">*</span> Establecimiento: </label>
                <div class="col-md-4">
                    <select id="stablishment" name="stablishment" class="form-control">
                        <option value="">Seleccione un establecimiento</option>
                        <?php foreach ($this->stablishment as $stablishment):?>
                            <option value="<?php echo $stablishment->getId();?>"><?php echo $stablishment->getName();?></option>
                        <?php endforeach;?>
                    </select>
                </div>
             </div>
              
            <div class="form-group">
            <div class="col-md-offset-4 col-md-4" style="margin-top:15px">
                <input type="submit" class="btn btn-success" value="Agregar">
                <a id="btnCancelar" href="#" onclick="window.history.go(-1); return false;" class="btn btn-danger">Cancelar</a>
            </div>
          </div>
        </form>
        
    </div>
</div>

<!--<input id="urlCoupon" type="hidden" value="<?php echo $this->url(array('module' => 'admin','controller' => 'coupon', 'action' => 'index'),null, true);?>">-->

<div id="dialog-create" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Crear Cup&oacute;n</h4>
			</div>
			<div class="modal-body">
				<p>
					El cupon se creo correctamente...
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="sendData()"
					class="btn btn-success">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
