body{
	padding: 0 !important;
}
/*<<<<<<<<<<<< MENU >>>>>>>>>>>>>>*/
.back{
    background-color: rgba(79,162,200,1);
}
.navbar{
    border-radius: 0 !important;
}
body > nav > div > div.navbar-header > img {
    max-width: 65% !important;
}
#pagina1 > nav > div > div.navbar-header > button{
    background-color: #fdfdfe;
    color: #22799b;
}
#pagina1 > nav > div > div.navbar-header > button > span{
    background-color: black;
}
/**#pagina1,#pagina6{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
}**/
.custom-container{
	padding-left: 10%;
	padding-right: 10%;
}
#pagina1,#pagina6{
    margin-top: 5%;
}
#bs-example-navbar-collapse-1 > ul {
    padding-top: 1%;
}
#bs-example-navbar-collapse-1 > ul > li > a {
    width: 115px;
    height: 30px;
    padding: 5% 15px;
    text-align: center;
    border-radius: 5%;
    margin: 0 2%;
    color: white;
}
#bs-example-navbar-collapse-1 > ul > li > a:hover{
    text-decoration: none;
    background-color: #fdfdfe;
    color: #22799b;
}
#bs-example-navbar-collapse-1 > ul > li.active > a{
    text-decoration: none;
    background-color: #fdfdfe;
    color: #22799b;
}


.rangeslider{
}

/*<<<<<<<<<<<<< PAGINA 1 >>>>>>>>>>>>>>>*/
.panel-email{
    margin-top: 5%;
    text-align: center;
    background-color: #dbebd1;
    width: 90%;
    border: 1px solid #dbebd1;
    border-radius: 2%;
    padding: 5px 15px;
	padding-bottom: 15px;
}
.page1{
    background-image: url("../imgLanding/bg_blue.png");
}
#title{
    color: #ffffff;
    padding-left: 11%;
    padding-top: 6em;
    padding-right: 3%;
}
#title h1{
    font-size: 2.8em;
    font-weight: bold;
}
.botonTitle{
    width: 100%;
    color: white;
    font-size: 2.3em;
    background-color: #12c450;
    padding: .1em 1em;
    margin: 0;
    border: 0;
    border-radius: 3px;
    box-shadow: 2px 3px 5px #00aa0d;
}
.sombra{
    box-shadow: 2px 3px 5px #262626;
}

/*<<<<<<<<<<<<< PAGINA 2 >>>>>>>>>>>>>>>*/
#pagina2{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
}
.descripcion{
    font-weight: 500;
}
#segundaFila{
    margin-top: 1%;
}
.botonesPage2{
    color: white;
    background-color: #00b7e1;
    border-radius: 3px;
    margin: 0;
    border: 0;
    font-size: 1.1em;
    padding: .2em 2em;
    box-shadow: 2px 3px 5px #008091;
}
.imagenPag2{
    height: 7em;
    width: auto;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0f2de;
}

#pagina2 > div > h3{
    font-weight: bold;
}
.descripcionCarreteUsuarios{
    background-color: #f4f4da;
    text-align: justify;
    height: 405px;
}





/*<<<<<<<<<<<<< PAGINA 3 >>>>>>>>>>>>>>>*/
#pagina3{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}


#sectionCarousel{
    padding: 0;
}
#carouselLanding > div {
    height: 460px;
    background-color: #f4f4da;
}
.item{
    width: 70% !important;
    height: 100% !important;
}
.imgCarousel{
    height: 100% !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
/**
.carousel-control{
    position: static !important;
    opacity: 1 !important;

}**/
.carousel-control:hover{
    color: #00b7e1;
	background-color: transparent;
}
/**
#carouselLanding > a.carousel-control > span {
    background-color: #5f5d49 !important;
}

#carouselLanding > a.carousel-control > span:hover {
    background-color: white !important;
}

#carouselLanding > a.right.carousel-control > span {
    margin-right: 41%;
    margin-top: 18%;
}

#carouselLanding > a.left.carousel-control > span{
    margin-left: -48%;
    margin-top: 18%;
}**/
.carousel-caption{
    right: -40% !important;
    left: 102% !important;
    color: black !important;
    text-align: justify;
    text-shadow: 0 1px 2px rgba(0,0,0,.3) !important;
	z-index: 0;
}
.carousel-indicators{
    left: 85% !important;
}
.carousel-indicators li{
    background-color: #464534 !important;
}
.carousel-indicators .active {
    background-color: #00b7e1 !important;
}
#carouselLanding > div {
    border-radius: 8px;
}
.slick-prev, .slick-next {
}
.slick-prev:before, .slick-next:before {
    color: #00b7e1 !important;
}
#pagina3 > div > div:nth-child(2) > div > div > div {
	height: 100px;
}
.imgClientes{
	height: 100% !important;
}
.slick-track{
	height:100px !important;
}

/*<<<<<<<<<<<<< PAGINA 4 >>>>>>>>>>>>>>>*/
#pagina4{
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 10%;
}
.page4{
    background-image: url("../imgLanding/bg_pix.png");
}
#pagina4 > div > div > div:nth-child(1) > ul > li {
    list-style-type: none;
}

#pagina4 > div >div > div:nth-child(2) > div > div.panel-heading > div > ul {
    text-align: right;
}
#pagina4 > div >div > div:nth-child(2) > div > div.panel-body {
    text-align: center;
}
#pagina4 > div >div >div {
    margin-top: 6%;
}
#pagoAnual, #pagoMensual{
    color: #1ac6e0;
    font-size: 2em;
}
.panel{
    box-shadow: 0px 10px 38px 2px #888888;
    border: none !important;
}
.panel-heading{
    background-color: #1ac6e0;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}
#descuento{
    color: #32c855;
}



/*<<<<<<<<<<<<< PAGINA 5 >>>>>>>>>>>>>>>*/
#paginaMapa{
    padding-top: 3.4%;
    width: 100%;
    height: 100%;
    padding-bottom: 8%;
}
#mapPlaceholder {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                  PIE DE PAGINA
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#footer{
    background-color: #fdfdfe;
    padding: 1%;
    color: black;
    font-size: .8em;
    height: 100%;
	margin-top: 0 !important;
}
.azul{
    color: #4a9cab;
}
#logo{
    display: inline;
    width: 20%;
    max-width: 20%;
}
.circles{
    color: #00637b;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
}
.enlinea{
    display: inline;
}
