@CHARSET "ISO-8859-1";

#menuInfo{
	height: 80px;
	background-color: #21BEF1;
}
.navbar{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #198BBD;
}
#menuInfo > div > div > ul.nav.navbar-nav> li > a > b{
	color: white;
	font-size: large;
}
#menuInfo > div > div > ul.nav.navbar-nav> li > a{
	color: black;
	font-weight: bold;
}
#menuInfo > div > div > ul.nav.navbar-nav.navbar-left > li:nth-child(2) > form  {
	border-right: 1px solid white;
}
#menuInfo > div > div > ul.nav.navbar-nav > li > a > b > span{
	font-size: x-large;
}
#menuInfo > div > div > ul.nav.navbar-nav > li > a > span{
	font-size: x-large;
}
#menuInfo > div > div > ul.nav.navbar-nav.navbar-left > li > form > button {
	width: 160px;
	color: #0082A0;
	background-color: white;
	box-shadow: 0 2px 0 #DFDABC;
}
.divider{
	margin-right: 15px;
	margin-left: 15px;
}
.navbar-twitch-toggle-icon{
	padding: 8px;
}
.navbar-twitch-toggle-icon:hover{
	background-color: rgb(25, 139, 189);
}