@CHARSET "ISO-8859-1";

#sidr{
	background-color: #21BEF1;
	width: 237px;
	box-shadow: none;
	/* -webkit-box-shadow: none; */
	-moz-box-shadow: none;
	padding-left: 0;
}
#headd{
	height:80px;
	width:auto;
	background-image: linear-gradient(#00859F,#00859F);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	 box-shadow: none; 
}
#sidr > ul{
	margin-top: 60px;
	border-bottom: 0;
	border-top: 0;
}
#sidr > ul > li {
	border: 0;
}
#sidr > ul > li > a{
	color: white;
	border: 0;
}
#sidr > ul > li:hover {
	background-color: #00859F;
}
#sidr > ul > li:active {
	background-color: white;
}
#sidr > ul > li > ul > li:hover{
	background-color: none;
	color: black;
}

#sidr > ul > li > ul > li{
	list-style-type: none;
	border-top: 0;
	border-bottom: 0;
}
#sidr > ul > li > ul > li > a{
	box-shadow: none;
	/* -webkit-box-shadow: none; */
	-moz-box-shadow: none;
}
#sidr > ul > li > ul > li > a:hover{
	color:black;
}
.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span,#sidr > ul > li > a, #sidr > ul, #sidr > ul > li.active {
	/* -webkit-box-shadow: none; */
	-moz-box-shadow: none;
	/* box-shadow: none; */
}
#sidr > ul > li > a, #sidr > ul, #sidr > ul > li.active{
	box-shadow: none;
	/* -webkit-box-shadow: none; */
	-moz-box-shadow: none;
}
.sidr ul li ul li a, .sidr ul li ul li span {
color: white;
padding-left: 25%;
}






@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body {
    padding-top: 15px;
    padding-left: 65px;
}
.navbar-twitch {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 100%;
	border-radius: 0px;
	border: 0px;
    z-index: 1030;
}
.navbar-twitch.open {
	width: 240px;
}
.navbar-twitch > .container {
	padding: 0px;
	width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
	float: none;
	display: block;
	width: 100%;
	margin: 0px;
}
.navbar-twitch .navbar-brand {
    height: 50px;   
}
.navbar-twitch > .container .navbar-brand {
	padding: 0px;
	margin: 0px;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
	display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo,	
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
	font-weight: bold;
	padding: 15px 2px 15px 3px;
	font-size: 18pt;
}
.navbar-twitch > .container .navbar-brand {
	width: 100%;
	padding: 15px 15px 60px;
	text-align: center;
	height: 80px;
}

.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
	/*color: rgb(255, 255, 255);*/
}
.navbar-Cubi{
	background-color: #00B8E2;
}
.navbar-Logo{
	background-color: #00859F;
}
.navbar-twitch .navbar-nav > li {
	float: none;
}
.navbar-twitch > .container .full-nav {
	display: none;
}
.navbar-twitch.open > .container .full-nav {
	display: block;
}
.navbar-twitch.open > .container .small-nav {
	display: none;
}
.navbar-twitch .navbar-collapse {
	padding: 0px;
}
.navbar-twitch .navbar-nav {
	float: none;
	margin: 0px;
}
.navbar-twitch .navbar-nav > li > a {
	padding: 0px;
}
.navbar-twitch .navbar-nav > li > a > span {
	display: block;
	font-size: 16pt;
	padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
	max-width: auto;
	white-space:nowrap;
}

.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
	display: inline-block;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
	display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle {
	left: 245px;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
	display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
	display: inline-block;
}

.navbar {
    background-image: none !important;
}
.navbar-purple {
    background-color: rgb(86, 61, 124);
    border-color: rgb(111, 84, 153);
}


.subMenuNav{
	width: 210px;
	padding-left: 70px;
	position: inherit;
}
.flota{
	float:left;
}
.clickable{
	color: white;
}
.navbar-Cubi > .active{
	background-color: #00859F;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #00859F;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi > div > b > div > ul > li > ul > li{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	list-style-type: none;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi > div > b > div > ul > li > ul > li{
	background-color: #057D95;
	border: 3px solid #046B80;
	border-radius: 5px;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi.open > div > b > div > ul > li > ul > li{
	background-color: transparent;
	border: none;
	border-radius: 0;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi > div > b > div > ul > li > ul > li > a{
	color: white;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi > div > b > div > ul > li > ul > li > a:hover{
	color:black;
	font-weight: bold;
}
body > div.navbar.navbar-inverse.navbar-twitch.navbar-Cubi > div > b > div > ul > li{
	margin: 25px 0;
	font-weight: normal;
}







/* General styles for all menus */
 
.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
 
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}
 
.cbp-spmenu a:hover {
    background: #258ecd;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Horizontal menu that slides from the top or bottom */
 
.cbp-spmenu-top {
    top: -150px;
}
 
.cbp-spmenu-bottom {
    bottom: -150px;
}
 
.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}
 
.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
 


