<?php 
    $this->headScript()->prependFile($this->baseUrl().'/library/bootstrap.3.1.1/js/bootstrap.min.js');
    $this->headScript()->prependFile($this->baseUrl().'/library/jqueryValidation/jquery-validation.js');
    $this->headScript()->prependFile($this->baseUrl().'/library/jquery/jquery-1.11.1.min.js');
    $this->headScript()->prependFile($this->baseUrl().'/library/jquery/jquery-1.11.1.min.js');
    $this->headScript()->prependFile($this->baseUrl().'/library/jquery/jquery-1.11.1.min.js');
    $this->headScript()->appendFile($this->baseUrl('/js/register/register.js'));
    
    $this->headLink()->appendStylesheet($this->baseUrl('/library/bootstrap.3.1.1/css/bootstrap.css'));
    $this->headLink()->appendStylesheet($this->baseUrl('/library/font-awesome-4.2.0/css/font-awesome.min.css'));
    
    ?>
<style type="text/css">
.btn-primary {
    background-color: #b3cd00;
    border-color: #a5b105;
    color: #fff;
}

.btn-primary:hover, .pagination > .active  > a:hover {
    background-color: #a5b105;
    border-color: #b3cd00;
}
    
a{
    color: #f6931d;
}
a:hover{
    color: #e78519;
}
.label-primary{
    background-color: #b3cd00;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #a5b105;
    border-color: #b3cd00;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #f00076;
    border-color: #c1004b;
    color: #fff;
}
.form-control:focus {
    border-color: #b3cd00;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(165, 177, 5, 0.6);
    outline: 0 none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: #a5b105;
    border-color: #b3cd00;
}
</style>

 <br><br><br>
<div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form" method="post" action="<?php echo $this->url(array('controller' => 'index', 'action' => 'register'));?>" id="form">
                        <h2>Porfavor Reg&iacute;strese <small>Es gratis y siempre lo ser&aacute;.</small></h2>
                        <hr class="colorgraph">
                        <div id="showErrorTerms"></div>
                        <div id="showErrorUsername"></div>
                        <div id="showErrorEmail"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Nombre" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="lastName" id="lastName" class="form-control input-lg" placeholder="Apellido" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Nombre de usuario" tabindex="3">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo electr&oacute;nico" tabindex="4">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contrase&ntilde;a" tabindex="5">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Confirmar contrase&ntilde;a" tabindex="6">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 col-md-3">
                                <span class="button-checkbox">
                                    <button type="button" class="btn" data-color="info" tabindex="7">Acepto</button>
                                    <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                                </span>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-9">
                                 Al oprimir <strong class="label label-primary">Registrarme</strong>, usted est&aacute; de acuerdo con los <a href="#" data-toggle="modal" data-target="#t_and_c_m">T&eacute;rminos y condiciones</a> de este sitio.
                            </div>
                        </div>

                        <input id="urlLogin" type="hidden" value="<?php echo $this->url(array('controller' => 'login', 'action' => 'index'),null, true);?>">
                        <input id="urlRegister" type="hidden" value="<?php echo $this->url(array('controller' => 'register', 'action' => 'index'),null, true);?>">
                        <input id="urlValidateUsername" type="hidden" value="<?php echo $this->url(array('controller' => 'register', 'action' => 'validate-username'),null, true);?>">
                        <input id="urlValidateEmail" type="hidden" value="<?php echo $this->url(array('controller' => 'register', 'action' => 'validate-email'),null, true);?>">
                        <input id="urlValidateEmail" type="hidden" value="<?php echo $this->url(array('controller' => 'register', 'action' => 'validate-email'),null, true);?>">
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-12"><input type="submit" value="Registrarme" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                            <!-- <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Ingresar</a></div>-->
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h4 class="modal-title" id="myModalLabel">T&eacute;rminos y condiciones</h4>
                        </div>
                        <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Estoy de acuerdo</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

<div id="dialog-register" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Registro de Usuario</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
        		  <strong>El Usuario se registró Correctamente.</strong> 
        		</div>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="loginRedirect()" class="btn btn-success" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>