<?php 
    


    $this->headScript()->appendFile($this->baseUrl('/js/jquery-1.11.1.js'));
    $this->headScript()->appendFile($this->baseUrl('/js/bootstrap.js'));
    $this->headScript()->appendFile($this->baseUrl('/js/custom.js'));
    $this->headScript()->appendFile($this->baseUrl('/js/jquery.easing.min.js'));
    $this->headScript()->appendFile($this->baseUrl('/js/jquery.mb.YTPlayer.js'));
    $this->headLink()->headLink(array('rel' => 'favicon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->baseUrl('/img/favicon.ico')), 'PREPEND');
    $this->headLink()->appendStylesheet($this->baseUrl('/fonts/font-awesome.css'));
    $this->headLink()->appendStylesheet($this->baseUrl('/css/default/bootstrap.css'));
    $this->headLink()->appendStylesheet($this->baseUrl('/css/default/style.css'));
    

    
?>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/logo-cuponera.png" alt="" class="img-responsive" />
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right scroll-me">
                <ul class="nav navbar-nav ">
                    <li><a href="#home">INICIO</a></li>
                    <li><a href="#services">SERVICIOS</a></li>
                    <li><a href="register">REGISTRO</a></li>
                    <li><a href="login">INGRESAR</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div id="home">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>MI CUPONERA</h1>
                    <h2><p class="p-cls">
                        ¡BIENVENIDO!
                    </p></h2>
                </div>

            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
    <section id="services">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">NUESTROS SERVICIOS</h2>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-cutlery  fa-5x"></i>
                    <h4 class="head-set">ALTA DE TUS ESTABLECIMIENTOS</h4>
                    <p>
                        Restaurantes, cines o cualquier otro comercio puede ser agregado.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-qrcode  fa-5x"></i>
                    <h4 class="head-set">CREACIÓN DE CUPONES </h4>
                    <p>
                        Cupones de promociones con código QR canjeables desde un dispositivo móvil.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-bar-chart  fa-5x"></i>
                    <h4 class="head-set">ESTADÍSTICAS</h4>
                    <p>
                        Visualiza los cupones disponibles y los que ya fueron canjeados, por establecimiento.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICES SECTION END  -->
    <div class="parallax-like" style="text-align:center;">
        <div class="overlay">
            ¡MEJORA TUS VENTAS!
        </div>
    </div>
    
    <section id="contact">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">CONTACTO</h2>
                    <p>
                        PUEDEN ENCONTRARNOS EN:
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-12">
                    <h3>Anillo Periférico Norte</h3>
                    <h3>Tablaje Cat. 13615</h3>
                    <h3>Colonia Chuburná Hidalgo Inn</h3>
                    <h3>Mérida Yucatán</h3>
                    <h3><strong>Email :</strong> administrator@devalley.com</h3>

                </div>

            </div>
        </div>
    </section>
    
    
    <footer>
        © 2015 Mi Cuponera
    </footer>
    

</body>
