<?php
$this->headScript()->appendFile($this->baseUrl().'/js/stablishmentAdmin/seeStablishmentAdmin.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
</style>


<div class="row">
    <div class="col-md-8">
        <h1>Detalles de Administrador de establecimiento</h1>
    </div>
    <div style="padding-top: 2%;" class="col-md-2 pull-right">
       <a id="btnCancelar" href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'stablishment-admin', 'action' => 'index'),null,true);?>" class="btn btn-primary">Regresar</a>
    </div>
</div>
<div class="row">
            <div class="col-md-10">
                <label>Nombre: </label><span> <?php echo $this->stablishmentAdmin->getName();?></span>
            </div>
            <div class="col-md-10">
                <label>Apellido(s): </label><span> <?php echo $this->stablishmentAdmin->getLastName();?></span>
            </div>
          <div class="col-md-10">
                <label>Correo: </label><span> <?php echo $this->stablishmentAdmin->getEmail();?></span>
          </div>
          <div class="col-md-10">
                <label>Nombre de usuario: </label><span> <?php echo $this->stablishmentAdmin->getUser()->getUsername();?></span>
          </div>
</div>

<h2>Establecimientos de <?php echo $this->stablishmentAdmin->getName()." ".$this->stablishmentAdmin->getLastName();?></h2>
<div class="row">
		<div class="col-md-12">
			<table id="stablishmentTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>DIRECCI&Oacute;N</th>
						<th>TIPO</th>
						<th>TEL&Eacute;FONO</th>
						<th>OPERACIONES</th>
					</tr>
				</thead>
				<tbody>
    <?php foreach ($this->stablishments as $stablishment): ?>
                <tr>
						<td><?php echo $stablishment->getName(); ?></td>
						<td><?php echo $stablishment->getAddress(); ?></td>
						<td><?php echo $stablishment->getStablishmentType()->getName();?></td>
						<td><?php echo $stablishment->getPhone();?></td>
						<td>
						<div style="padding-left: 30%;">
						<a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'stablishment-admin', 'action' => 'see-stablishment', 'id' => $stablishment->getId()));?>"><i class="fa fa-eye"></i></a>&nbsp;|
						<a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'stablishment-admin', 'action' => 'stablishment-coupon-list', 'id' => $stablishment->getId()));?>"><i class="fa fa-ticket"></i></a>&nbsp;
						</div>
						</td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>

