<?php
$this->headScript()->appendFile($this->baseUrl().'/js/coupon/seeCoupon.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
</style>

<div class="row">
    <div class="col-md-8">
        <h1>Estad&iacute;sticas del Cup&oacute;n</h1>
    </div>
    <div style="padding-top: 2%;" class="col-md-2 pull-right">
       <a id="btnCancelar" href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary">Regresar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="display: inline" class="pull-left"><img height="200px" width="260px" src="<?php echo $this->baseUrl('logos/coupon/'.$this->coupon->getImage());?>"></h2> 
          <div style="padding-top: 25px; padding-left: 250px;">
            <div class="col-md-10">
                <label>Nombre: </label><span> <?php echo $this->coupon->getName();?></span>
            </div>
            <div class="col-md-8">
                <label>Fecha de Inicio: </label><span> <?php echo $this->coupon->getStartDate();?></span>
            </div>
          </div>
          <div class="col-md-8">
                <label>Fecha de Final: </label><span> <?php echo $this->coupon->getEndDate();?></span>
          </div>
          <div class="col-md-9">
            <label>Descripci&oacute;n: </label><span> <?php echo $this->coupon->getDescription();?></span>
          </div>
          <div class="col-md-9">
                <label>Adquiridos: </label><span> <?php echo $this->coupon->getAcquired();?></span>
          </div>
          <div class="col-md-9">
                <label>Descargados: </label><span> <?php echo $this->coupon->getDownloaded();?></span>
          </div>
          <div class="col-md-9">
                <label>Usados: </label><span> <?php echo $this->coupon->getUsed();?></span>
          </div>
    </div>
</div>
<div class="row">
    <h1>C&oacute;digo QR</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <img height="290px" width="290px" src="<?php echo $this->baseUrl('logos/coupon/qrimages/'.$this->coupon->getQrImage());?>">
    </div>
</div>