<?php
$this->headScript()->appendFile($this->baseUrl().'/js/stablishment/seeStablishment.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
</style>
<script type="text/javascript"   src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


<div class="row">
    <div class="col-md-8">
        <h1>Detalles de Establecimiento</h1>
    </div>
    <div style="padding-top: 2%;" class="col-md-2 pull-right">
       <a id="btnCancelar" href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary">Regresar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="display: inline" class="pull-left"><img height="200px" width="260px" src="<?php echo $this->baseUrl('logos/stablishment/'.$this->stablishment->getImage());?>"></h2> 
          <div style="padding-top: 25px; padding-left: 250px;">
            <div class="col-md-10">
                <label>Nombre: </label><span> <?php echo $this->stablishment->getName();?></span>
            </div>
            <div class="col-md-8">
                <label>Tipo: </label><span> <?php echo $this->stablishment->getStablishmentType()->getName();?></span>
            </div>
          </div>
          <div class="col-md-8">
                <label>Tel&eacute;fono: </label><span> <?php echo $this->stablishment->getPhone();?></span>
          </div>
          <div class="col-md-9">
                <label>Direcci&oacute;n: </label><span> <?php echo $this->stablishment->getAddress();?></span>
          </div>
          <div class="col-md-9">
            <label>Descripci&oacute;n: </label><span> <?php echo $this->stablishment->getDescription();?></span>
        </div>
    </div>
</div>
<div class="row">
    <h1>Mapa del Establecimiento</h1>
</div>
<div class="row">
    <div class="col-md-12">
            
            <div style="text-align: -webkit-center; margint-top:2%;">
                <div id="map_canvas" style="width:80%; height:80%"></div>
			</div>
          
          <input type="hidden" id="latStablishment" name="latStablishment" value="<?php echo $this->stablishment->getLatitude();?>"/>
            <input type="hidden" id="longStablishment" name="longStablishment" value="<?php echo $this->stablishment->getLongitude();?>"/>
            <input type="hidden" id="id_stablishment" name="id_stablishment" value="<?php echo $this->stablishment->getId();?>"/>

        
    </div>
</div>
