<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/coupon/index.js');
?>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
	<div class="row">
		<div class="col-md-6">
			<h1>Cupones del Establecimiento <?php echo $this->stablishment->getName();?></h1>
		</div>
		<div style="padding-top: 2%;" class="col-md-6">
           <a id="btnCancelar" href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary pull-right">Regresar</a>
    	</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table id="couponTable" cellpadding="0" cellspacing="0" border="0"
				class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>FECHA DE INICIO</th>
						<th>FECHA DE FIN</th>
						<th>ADQUIRIDOS</th>
						<th>DESCARGADOS</th>
						<th>USADOS</th>
						<th>OPERACIONES</th>
					</tr>
				</thead>
				<tbody>
    <?php $dateService = new Application_Service_Date();?>
    <?php foreach ($this->coupons as $coupon): ?>
                <tr>
						<td><?php echo $coupon->getName(); ?></td>
						<td><?php echo $dateService->getDate($coupon->getStartDate()); ?></td>
						<td><?php echo $dateService->getDate($coupon->getEndDate()); ?></td>
						<td><?php echo $coupon->getAcquired();?></td>
						<td><?php echo $coupon->getDownloaded(); ?></td>
						<td><?php echo $coupon->getUsed();?></td>
						<td>
						<div style="padding-left: 40%;">
						<a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'stablishment-admin', 'action' => 'see-coupon', 'id' => $coupon->getId()));?>"><i class="fa fa-eye"></i></a>
						</div>
						</td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="dialog-delete" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Eliminar cup&oacute;n</h4>
			</div>
			<div class="modal-body">
				<p>
					Esta seguro que desea eliminar el cup&oacute;n <b id="nameCoupon"></b>&#63;
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" onclick="deleteCoupon()"
					class="btn btn-primary">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->