<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/client/index.js');
?>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
	<div class="row">
		<div class="col-md-12">
			<h1>Clientes</h1>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table id="stablishmentTable" cellpadding="0" cellspacing="0" border="0"
				class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>APELLIDO(S)</th>
						<th>CORREO</th>
						<th>NOMBRE DE USUARIO</th>
						<th>OPERACIONES</th>
					</tr>
				</thead>
				<tbody>
    <?php foreach ($this->clients as $client): ?>
                <tr>
						<td><?php echo $client->getName(); ?></td>
						<td><?php echo $client->getLastName(); ?></td>
						<td><?php echo $client->getEmail();?></td>
						<td><?php echo $client->getUser()->getUsername();?></td>
						<td>
						<div style="padding-left: 30%;">
						<a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'client', 'action' => 'see-client', 'id' => $client->getId()));?>"><i class="fa fa-eye"></i></a>&nbsp;|
						<a href="#" onclick="confirmDeleteClient(<?php echo $client->getId();?>,'<?php echo $client->getName();?>')"><i class="fa fa-trash"></i></a>
						</div>
						</td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="dialog-delete" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Eliminar cliente</h4>
			</div>
			<div class="modal-body">
				<p>
					&iquest;Est&aacute; seguro que desea eliminar al cliente <b id="nameClient"></b>&#63;
				</p>
			</div>
			<div class="modal-footer">
				
				<button type="button" onclick="deleteClient()"
					class="btn btn-primary">Aceptar</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->