<?php
$this->headScript()->appendFile($this->baseUrl().'/js/client/seeClient.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
</style>

<div class="row">
    <div class="col-md-8">
        <h1>Detalles de Cliente</h1>
    </div>
    <div style="padding-top: 2%;" class="col-md-2 pull-right">
       <a id="btnCancelar" href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'client', 'action' => 'index'),null,true);?>" class="btn btn-primary">Regresar</a>
    </div>
</div>
<div class="row">
            <div class="col-md-10">
                <label>Nombre: </label><span> <?php echo $this->client->getName();?></span>
            </div>
            <div class="col-md-10">
                <label>Apellido(s): </label><span> <?php echo $this->client->getLastName();?></span>
            </div>
          <div class="col-md-10">
                <label>Correo: </label><span> <?php echo $this->client->getEmail();?></span>
          </div>
          <div class="col-md-10">
                <label>Nombre de usuario: </label><span> <?php echo $this->client->getUser()->getUsername();?></span>
          </div>
</div>
<h2>Cupones adquiridos</h2>
<div class="row">
		<div class="col-md-12">
			<table id="couponTable" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>NOMBRE</th>
						<th>DESCRIPCI&Oacute;N</th>
						<th>USADO</th>
					</tr>
				</thead>
				<tbody>
    <?php foreach ($this->coupons as $clientCoupon): ?>
                <tr>
						<td><?php echo $clientCoupon->getCoupon()->getName(); ?></td>
						<td><?php echo $clientCoupon->getCoupon()->getDescription(); ?></td>
						<td><?php echo ($clientCoupon->getUsed()) ? 'Si' : 'No';?></td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>