<!DOCTYPE head PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <?php 
  $this->headScript()->prependFile($this->baseUrl().'/library/jqueryValidation/jquery-validation.js');
  $this->headScript()->appendFile($this->baseUrl('/library/DataTables1.9/media/js/jquery.dataTables.js'));
  $this->headScript()->appendFile($this->baseUrl('/library/Datatables-Bootstrap3/BS3/assets/js/datatables.js'));
  $this->headScript()->appendFile($this->baseUrl('/library/moment-master/moment.js'));
  $this->headScript()->appendFile($this->baseUrl('/library/datetimepicker-master/build/js/locale/es.js'));
  $this->headScript()->appendFile($this->baseUrl('/library/datetimepicker-master/build/js/datetimepicker.min.js'));
  $this->headScript()->prependFile($this->baseUrl('/library/jasny-bootstrap/js/jasny-bootstrap.js'));
    $this->headScript()->prependFile($this->baseUrl().'/library/bootstrap.3.1.1/js/bootstrap.js');
    $this->headScript()->prependFile($this->baseUrl().'/library/jquery/jquery-1.8.2.min.js');
 
    $this->headLink()->appendStylesheet($this->baseUrl().'/library/bootstrap.3.1.1/css/bootstrap.css');
    $this->headLink()->appendStylesheet($this->baseUrl('/library/Datatables-Bootstrap3/BS3/assets/css/datatables.css'));
    $this->headLink()->appendStylesheet($this->baseUrl().'/library/bootstrap-custom/main.css');
    $this->headLink()->appendStylesheet($this->baseUrl().'/library/font-awesome-4.2.0/css/font-awesome.css');
    $this->headLink()->appendStylesheet($this->baseUrl('/library/jasny-bootstrap/css/jasny-bootstrap.css'));
    $this->headLink()->appendStylesheet($this->baseUrl('/library/datetimepicker-master/build/css/datetimepicker.min.css'));
    echo $this->headLink();
    echo $this->headScript();
    ?>
  <title>Cuponera</title>
  <style type="text/css">
    <style type="text/css">
    body {
      /*color: #fff;
      background-color: #303030;*/
      padding-top: 50px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .starter-template {
      padding: 40px;
    }
    .navbar-inverse {
    background-color: #a21526;
    border-color: #fff;
    }
    /*.table {
    background: none repeat scroll 0 0 #999;
    }
    tr.odd {
    color: #666;
    }*/
    a {
    color: dimgray;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #ccc;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
        background-color: #ee4035;
        color: #fff;
    }
    /*.modal-content {
    background-color: #303030;
    }*/
    .btn-primary {
    background-color: #b3cd00;
    border-color: #a5b105;
    color: #fff;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
        background-color: #a21526;
    }
    .dropdown-menu > li > a:hover{
    color:
    }
    .btn-warning{
    background-color: #f6931d;
    border-color: #e78519;
    color: #fff;
    }
    .btn-warning:hover{
    background-color: #e78519;
    border-color: #f6931d;
    }  
    .btn-primary:hover, .pagination > .active  > a:hover {
    background-color: #a5b105;
    border-color: #b3cd00;
    }
    .pagination > .active  > a{
    background-color: #b3cd00;
    border-color: #a5b105;
    }
    /*.btn-danger{
    background-color: #a21526 ;
    border-color: #60020e;
    color: #fff;
    }
    .btn-danger:hover{
    background-color: #60020e ;
    border-color: #a21526;
    }*/
    .dropdown-menu > .active > a{
    background-color: #b3cd00;
    }
    .dropdown-menu > .active > a:hover{
    background-color: #a5b105;
    }
    .form-control:focus {
    border-color: #b3cd00;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(165, 177, 5, 0.6);
    outline: 0 none;
    }
    .starter-template {
      padding: 40px 15px;
    }
  </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Cuponera</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="<?php echo $this->controller=="index"? 'active' : '' ?>">
                <a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'index', 'action' => 'index'), null, true).'/index/index';?>">Inicio</a>
            </li> -->
            <li class="<?php echo $this->controller=="stablishmentadmin"? 'active' : '' ?>">
                 <a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'stablishment-admin', 'action' => 'index'), null, true);?>">Administradores de establecimientos</a>
            </li>
            <li class="<?php echo $this->controller=="client"? 'active' : '' ?>">
                 <a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'client', 'action' => 'index'), null, true);?>">Clientes</a>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown <?php echo $this->controller=="prof"? 'active' : '' ?>">
                <?php $session = new Zend_Session_Namespace('cuponera');?>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?php echo 'Bienvenido: '.$session->superadmin->getUsername();?><b class="caret"></b></a>           
                <ul class="dropdown-menu">
                    
                    <li class="<?php echo $this->controller=="profile"? 'active' : '' ?>">
                        <a href="<?php echo $this->url(array('module' => 'superadmin','controller' => 'profile', 'action' => 'index'), null, true);?>">Mi perfil</a>
                    </li>
                </ul>
            </li>
            <li><a href="<?php echo $this->url(array('controller' => 'login', 'action' => 'logout'), null, true);?>"><i class="glyphicon glyphicon-lock"></i> Salir</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <?php echo $this->layout()->content?>
      </div>
    </div>
    
</body>
</html>