<?php

?>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <?php 
    $this->headScript()->appendFile($this->baseUrl().'/library/jquery/jquery-1.8.2.min.js');
    $this->headScript()->appendFile($this->baseUrl().'/library/bootstrap.3.1.1/js/bootstrap.js');
    $this->headScript()->appendFile($this->baseUrl().'/library/jqueryValidation/jquery-validation.js');
    
    $this->headScript()->appendFile($this->baseUrl().'/js/login/index.js');
    $this->headLink()->appendStylesheet($this->baseUrl().'/library/bootstrap.3.1.1/css/bootstrap.css');
    
    echo $this->headLink();
    echo $this->headScript();
  ?>
  
  <title>Cuponera</title>
  <style type="text/css">
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.panel-heading{
    background: none !important;
    color: #000 !important; 
    font-weight: bold !important; 
    text-align: center !important; 
    border: none !important;
}
.input-group-addon, .form-control{
      background: none !important;
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      border-bottom: medium solid #a21526 !important;
      color: #000 !important;
      box-shadow: none !important;
}
.btn-primary {
    background-color: #ee4035 !important;
    border-color: #a21526 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #a21526 !important;
    border-color: #ee4035 !important;
} 
.error{
color: #e78519;
}
</style>
</head>
<body>
<br><br><br>
        <div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4" style="float: none; margin-left: auto; margin-right: auto">
			    <div class="row">
					<div style="text-align:center; margin-bottom: 15px;">
						<img src="<?php echo $this->baseUrl('img/logo.png');?>" alt="" height="150px" width="240px" >
					</div>
				</div>
				<div class="panel panel-default" style="background: none; border:none;">
				    
					<div class="panel-heading">
						<strong> Iniciar Sesi&oacute;n</strong>
					</div>
					<div class="panel-body">
						<form id="form" action="<?php echo $this->url(array('controller' => 'login', 'action' => 'index'));?>" method="post">
							<fieldset>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input class="form-control" placeholder="Usuario" name="userName" type="text" autofocus>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" placeholder="Contrase&ntilde;a" name="password" type="password" value="">
											</div>
										</div>
										<?php 
            				    			if(isset($this->error)):
            				    		?>
            				    			<div class="alert alert-danger">
            				    				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            				    				<?php echo $this->error;?>
            				    			</div>
            				    		<?php 
            				    			endif;
            				    		?>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
                </div>
			</div>
		</div>
	</div>

</body>