<!DOCTYPE head PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Servicio Cuponera.">
  <meta name="keywords" content="Sistema,Cuponera">
  <?php 
    //$this->headScript()->appendFile($this->baseUrl().'/library/bootstrap.3.1.1/js/bootstrap.js');
    
    
   //$this->headLink()->appendStylesheet($this->baseUrl().'/library/bootstrap.3.1.1/css/bootstrap.css');
    //$this->headLink()->appendStylesheet($this->baseUrl().'/css/default/justified-nav.css');
    
    echo $this->headLink();
    echo $this->headScript();
  ?>
  <link href="../../../public/img/logo.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <title>Cuponera</title>
</head>
<body>
       
        <?php echo $this->layout()->content?>
       
</body>
</html>