<?php 
    $this->headScript()->appendFile($this->baseUrl('/js/profile/profileAdmin.js'));
    
    ?>

<?php $session = new Zend_Session_Namespace('cuponera');?>
<div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form" method="post" action="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'update'));?>" id="form">
                        <h2>Editar Perfil</h2>
                        <hr class="colorgraph">
                        <div id="showErrorUsername"></div>
                        <div id="showErrorEmail"></div>
                        <div class="row">
                            <div class="form-group">
                            <h3>&nbsp;&nbsp;Nombre y Apellido</h3>
                            </div>
                            
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Nombre" tabindex="1" value="<?php echo $session->stablishmentAdmin->getName();?>" disabled>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="lastName" id="lastName" class="form-control input-lg" placeholder="Apellido" tabindex="2"  value="<?php echo $session->stablishmentAdmin->getLastName();?>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h3>Nombre de Usuario</h3>
                            </div>
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Nombre de usuario" tabindex="3"  value="<?php echo $session->stablishmentAdmin->getUser()->getUsername();?>">
                        </div>
                        <div class="form-group">
                            <h3>Correo</h3>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="4" value="<?php echo $session->stablishmentAdmin->getEmail()?>">
                        </div>
                        
                        <div class="form-group">
                                <span class="button-checkbox">
                                    <button onclick="activeEditPassword()" type="button" class="btn" data-color="danger" tabindex="7">Cambiar Contraseña</button>
                                    <input type="checkbox" name="edit_pass" id="edit_pass" class="hidden">
                                </span>
                        </div>
                        
                        <div id="passDiv"  style="display:none">
                        
                        <div class="row">
                            <div class="form-group">
                            <h3>&nbsp;&nbsp;Contraseña</h3>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contrase&ntilde;a nueva" tabindex="5">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Confirmar contrase&ntilde;a" tabindex="6">
                                </div>
                            </div>
                        </div>
                        </div>
                        

                        <input id="urlValidateUsername" type="hidden" value="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'validate-username'),null, true);?>">
                        <input id="urlValidateEmail" type="hidden" value="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'validate-email'),null, true);?>">
                        <input id="urlUpdate" type="hidden" value="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'update'),null, true);?>">
                        <input id="urlProfile" type="hidden" value="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'index'),null, true);?>">
                        <hr class="colorgraph">
                        <div class="row">
                            
                            <div class="col-xs-6 col-md-6"><input type="submit" value="Actualizar" class="btn btn-success btn-block btn-lg" tabindex="7"></div>
                            <div class="col-xs-6 col-md-6"><a id="btnCancelar" href="<?php echo $this->url(array('module' => 'admin','controller' => 'profile', 'action' => 'index'),null,true);?>" class="btn btn-danger" style="width:100%; font-size: 18px; line-height: 1.33;padding: 10px 16px; border-radius: 6px;">Cancelar</a></div>
                            
                            
                            <!-- <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Ingresar</a></div>-->
                        </div>
                        <p></p>
                        <input type="hidden" id="idStablishmentAdmin" name="idStablishmentAdmin" value="<?php echo $session->stablishmentAdmin->getId();?>"/>
                        <input type="hidden" id="idUser" name="idUser" value="<?php echo $session->stablishmentAdmin->getUser()->getId();?>"/>
                        
                    </form>
                </div>
            </div>
        </div>

<div id="dialog-edit" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar Perfil</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
        		  <strong>El Usuario se Edito Correctamente.</strong> 
        		</div>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="profileRedirect()" class="btn btn-success" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>