<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/stablishment/index.js');
?>

<style>

i.fa-eye, i.fa-ticket, i.fa-pencil-square-o, i.fa-trash { 
    text-decoration: none; 
    position: relative; 
}
i.fa-eye span, i.fa-ticket span, i.fa-pencil-square-o span, i.fa-trash span { 
    text-decoration: none; 
    width: 100px; 
    height: auto; 
    line-height: 20px; 
    padding: 10px; 
    font-size: 14px; 
    color: #719DAB; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    border: 4px solid #fff; 
    background: rgba(255,255,255,0.9); 
    border-radius: 5px; 
    pointer-events: none; 
    position: absolute; 
    left: 0; 
    bottom: 200px; 
    opacity: 0; 
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    -ms-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}
i.fa-eye:hover span, i.fa-ticket:hover span, i.fa-pencil-square-o:hover span, i.fa-trash:hover span { 
    opacity: 0.9; 
    left: 50%; 
    bottom: 10px; 
    color: #428bca; 
}
a.trash{
    color: red;
}
a.trash:hover{
    color: #ce0d20;
}
</style>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
	<div class="row">
		<div class="col-md-6">
			<h1>Establecimientos</h1>
		</div>
		<div style="padding-top: 2%;">
		<a class="btn btn-primary pull-right"
			href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'stablishment', 'action' => 'new'),null,true);?>">Registrar
			nuevo establecimiento </a>
		</div>
	</div>
	<br>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table id="stablishmentTable" cellpadding="0" cellspacing="0" border="0"
				class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th style="text-align: center;">NOMBRE</th>
						<th style="text-align: center;">DIRECCI&Oacute;N</th>
						<th style="text-align: center;">TIPO</th>
						<th style="text-align: center;">TEL&Eacute;FONO</th>
						<th style="text-align: center;">OPERACIONES</th>
					</tr>
				</thead>
				<tbody>
    <?php foreach ($this->stablishments as $stablishment): ?>
                <tr style="text-align:center;">
						<td><?php echo $stablishment->getName(); ?></td>
						<td><?php echo $stablishment->getAddress(); ?></td>
						<td><?php echo $stablishment->getStablishmentType()->getName();?></td>
						<td><?php echo $stablishment->getPhone();?></td>
                        <td>
						
                            <a href="<?php echo $this->url(array('module' => 'admin','controller' => 'stablishment', 'action' => 'see-stablishment', 'id' => Application_Service_Encrypter::encrypter($stablishment->getId())));?>"><i class="fa fa-eye"><span>Ver Detalles</span></i></a>&nbsp;&nbsp;<i style="cursor:default; color:#ccc;" class="fa fa-ellipsis-v"></i>&nbsp;
						<a href="<?php echo $this->url(array('module' => 'admin','controller' => 'coupon', 'action' => 'index', 'id' => Application_Service_Encrypter::encrypter($stablishment->getId())));?>"><i class="fa fa-ticket"><span>Ver Cupones</span></i></a>&nbsp;&nbsp;<i style="cursor:default; color:#ccc;" class="fa fa-ellipsis-v"></i>&nbsp;
						<a href="<?php echo $this->url(array('module' => 'admin','controller' => 'stablishment', 'action' => 'edit', 'id' => Application_Service_Encrypter::encrypter($stablishment->getId())));?>"><i class="fa fa-pencil-square-o"><span>Editar</span></i></a>&nbsp;&nbsp;<i style="cursor:default; color:#ccc;" class="fa fa-ellipsis-v"></i>&nbsp; 
						<a class="trash" href="#" onclick="confirmDeleteStablishment(<?php echo $stablishment->getId();?>,'<?php echo $stablishment->getName();?>')"><i class="fa fa-trash"><span style="color:red;">Eliminar</span></i></a>
						</td>
	           </tr>
    <?php endforeach ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="dialog-delete" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Eliminar establecimiento</h4>
			</div>
			<div class="modal-body">
				<p>
					&iquest;Est&aacute; seguro que desea eliminar el establecimiento <b id="nameStablishment"></b>&#63;
				</p>
				<div class="alert alert-warning">
        		  <strong>Se eliminar&aacute;n los cupones asociados al establecimiento.</strong> 
        		</div>
			</div>
			<div class="modal-footer">
				
				<button type="button" onclick="deleteStablishment()"
					class="btn btn-primary">Aceptar</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="dialog-eliminated" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Establecimiento</h4>
			</div>
			<div class="modal-body">
				<p>
					El Establecimiento se Elimino correctamente...
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="urlRedirect()"
					class="btn btn-success">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>