<?php
$this->headScript()->appendFile($this->baseUrl().'/js/stablishment/new.js');
?>
  
<style>
.bootstrap-tagsinput{
	width: 100% !important;
}
.dropzone-previews .dz-preview .dz-details {
width: 130px;
height: 100px;
position: relative;
background: #ebebeb;
padding: 5px;
margin-bottom: 22px;
}
.dz-details img {
position: absolute important;
top: 0 important;
left: 0 important;
width: 130px !important;
height: auto important;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
</style>
<script type="text/javascript"   src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


<div class="row">
    <div class="col-md-12">
        <h1>Nuevo Establecimiento</h1>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form id="form" action="<?php echo $this->url(array('module' => 'admin','controller' => 'stablishment', 'action' => 'new'));?>" method="post" class="form-horizontal dropzone" role="form" enctype="multipart/form-data"
        style="background: transparent">
            
             <div class="form-group">
                <label for="name" class="col-md-2 control-label"><span class="required">*</span> Nombre:</label>
                <div class="col-md-4">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Nombre"/>
                </div>
             </div>
             
             <div class="form-group">
                <label for="address" class="col-md-2 control-label"><span class="required">*</span> Direcci&oacute;n: </label>
                <div class="col-md-4">
                    <textarea id="address" name="address" class="form-control" placeholder=""></textarea>
                </div> 
             </div>
             
                         
             <div class="form-group">
                <label for="description" class="col-md-2 control-label">Descripci&oacute;n: </label>
                <div class="col-md-10">
                    <textarea rows="4" cols="100%" id="description" name="description" class="form-control" placeholder="Descripci&oacute;n del establecimiento"></textarea>
                </div>
             </div>
             
              <div class="form-group">
                <label for="phone" class="col-md-2 control-label"><span class="required">*</span> Tel&eacute;fono: </label>
                <div class="col-md-4">
                    <input type="number" min="0" id="phone" name="phone" class="form-control" placeholder="Telefono"/>
                </div>
             </div>
             
             <div class="form-group">
                <label for="stablishment_type" class="col-md-2 control-label"><span class="required">*</span> Tipo de establecimiento: </label>
                <div class="col-md-4">
                    <select id="stablishment_type" name="stablishment_type" class="form-control">
                        <option value="">Seleccione un tipo</option>
                        <?php foreach ($this->stablishmentType as $type):?>
                            <option value="<?php echo $type->getId();?>"><?php echo $type->getName();?></option>
                        <?php endforeach;?>
                    </select>
                </div>
             </div>
             
             
             <div class="form-group text-center">
             <label for="img" class="col-md-2 control-label">Logo del establecimiento:</label>
            	<div class="col-md-2">
            		<div class="fileinput fileinput-new" data-provides="fileinput">
					  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
					  <div>
					    <span class="btn btn-default btn-file">
					    <span class="fileinput-new">Seleccionar imagen</span>
					    <span class="fileinput-exists">Cambiar</span>
					    <input type="file" id="logo" name="logo" accept="image/*">
					    </span>
					    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
					  </div>
					</div>
            	</div>
              </div>
			
			<!-- Mapa del establecimiento -->
			<div class="text-center" style="margin-top:5%" id="latlong">
               <label for="latitude" class="col-md-2 control-label">Latitud: </label>
               <div class="col-md-3">
                    <input readonly type="text" id="latitude" name="latitude" class="form-control">
               </div>
               
               <label for="longitude" class="col-md-2 control-label">Longitud: </label>
               <div class="col-md-3">
                    <input readonly type="text" id="longitude" name="longitude" class="form-control">
               </div>
            </div>
            <br><br><br>
            <div style="text-align: -webkit-center; margint-top:2%;">
                <div id="map_canvas" style="width:80%; height:80%; margin-left: auto; margin-right: auto;"></div>
			</div>
				
            <div class="form-group">
            <div class="col-md-offset-5 col-md-4" style="margin-top:15px">
                <input type="submit" class="btn btn-success" value="Agregar">
                <a id="btnCancelar" href="<?php echo $this->url(array('module' => 'admin','controller' => 'stablishment', 'action' => 'index'),null,true);?>" class="btn btn-danger">Cancelar</a>
            </div>
          </div>
        </form>
        
    </div>
</div>

<div id="dialog-create" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Crear Establecimiento</h4>
			</div>
			<div class="modal-body">
				<p>
					El Establecimiento se creo correctamente...
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="sendData()"
					class="btn btn-success">Aceptar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
