.ajax-file-upload-statusbar {
	height:100px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin:5px;
	padding:5px;
	text-align:middle;
}


.ajax-file-upload-image
{
	position:relative;
	width:100px;
	height:100px;
	float:left;
	margin-right:10px;
	border:1px solid #0ba1b5;
	
}
.ajax-file-upload-filename {
	width:100%;
	height:auto;
	color:#807579;
	margin:0 5px 5px 10px;
}

.ajax-file-upload-progress {
	position:relative;
	width:250px;
	border:1px solid #ddd;
	border-radius:3px;
	display:inline-block;
	margin:0 10px 5px;
	padding:1px;
}

.ajax-file-upload-bar {
	background-color:#0ba1b5;
	width:0;
	height:20px;
	border-radius:3px;
}

.ajax-file-upload-percent {
	position:absolute;
	display:inline-block;
	top:3px;
	left:48%;
}

.ajax-file-upload-red {
	-moz-box-shadow:inset 0 39px 0 -24px #e67a73;
	-webkit-box-shadow:inset 0 39px 0 -24px #e67a73;
	box-shadow:inset 0 39px 0 -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:13px;
	font-weight:400;
	text-decoration:none;
	text-shadow:0 1px 0 #b23e35;
	cursor:pointer;
	vertical-align:top;
	padding:4px 15px;
	margin-right:5px;
}

.ajax-file-upload-green {
	background-color:##A5C355;
	border-color: #95B443;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:13px;
	font-weight:400;
	text-decoration:none;
	cursor:pointer;
	text-shadow:0 1px 0 #5b8a3c;
	vertical-align:top;
	margin:0;
	padding:4px 15px;
	margin-right:5px;
}

.ajax-file-upload {
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	font-weight:700;
	cursor:pointer;
	line-height:20px;
	display:inline-block;
	text-decoration:none;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	color:#fff;
	background:#2f8ab9;
	border:0;
	-moz-box-shadow:0 2px 0 0 #13648d;
	-webkit-box-shadow:0 2px 0 0 #13648d;
	box-shadow:0 2px 0 0 #13648d;
	margin:0 10px 10px 0;
	padding:6px 10px 4px;
	vertical-align:middle;
}

.ajax-file-upload:hover {
	background:#3396c9;
	-moz-box-shadow:0 2px 0 0 #15719f;
	-webkit-box-shadow:0 2px 0 0 #15719f;
	box-shadow:0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop {
	border:2px dotted #a5a5c7;
	width:400px;
	color:#dadce3;
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 0;
}